#headerContainer {
  width: 100%;
  height: 200px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bodyContainer {
  width: 100%;
  height: 800px;
}

#phoneIconContainer {
  display: flex;
  justify-content: space-around;
}

/* #footerContainer {
  width: 100%;
  height: 400px;
} */

body {
  margin: 0;
}