#headerContainer {
  width: 100%;
  height: 200px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bodyContainer {
  width: 100%;
  height: 800px;
}

#phoneIconContainer {
  display: flex;
  justify-content: space-around;
}

#servicesContainer {
  width: 100%;
  height: 1000px;
}

#scheduleHeaderContainer {
  width: 100%;
  height: 200px;
}

h3{
  margin: 0;
}

p {
  margin: 0;
}
/* #footerContainer {
  width: 100%;
  height: 400px;
} */

body {
  margin: 0;
}